services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    hostname: postgres
    ports:
      - "5432:5432"
    networks:
      - data-net
    environment:
      POSTGRES_PASSWORD: postgres
      DATABASE: postgres
      PGUSER: postgres
    volumes:
      - iceberg-postgres-data:/var/lib/postgresql/data:rw
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5

  trino:
    image: trinodb/trino:478
    container_name: trino-coordinator
    networks:
      - data-net
    ports:
      - "8080:8080"
    volumes:
      - ./trino-config/config.properties:/etc/trino/config.properties
      - ./trino-config/catalog/iceberg.properties:/etc/trino/catalog/iceberg.properties
    depends_on:
      postgres:
        condition: service_healthy
      seaweedfs:
        condition: service_healthy

  seaweedfs:
    image: "chrislusf/seaweedfs:4.00"
    container_name: "seaweedfs-master"
    command: "server -dir=/data -s3"
    hostname: seaweedfs-master
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=key
    volumes:
      - seaweedfs-data:/data
    networks:
      - data-net
    ports:
      - "9333:9333"
      - "8888:8888"
      - "8333:8333"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://seaweedfs-master:8333/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
volumes:
  iceberg-postgres-data:
    name: iceberg-postgres-data
  seaweedfs-data:
    name: seaweedfs-data

networks:
  data-net:
    name: data-net
